Babel==2.12.1
certifi==2023.5.7
charset-normalizer==3.1.0
Genshi==0.7.7
idna==3.4
lxml==4.9.2
Pillow==9.5.0
py3o.template==0.10.0
pyactiveresource==2.2.2
pyjon.utils==0.7
python-dotenv==1.0.0
requests==2.30.0
six==1.16.0
urllib3==2.0.2
